<!DOCTYPE html>
<html>
  <head>
    <title>Shows</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgmrL9PyHxu5aP4MnJ2xCFtaN8NALn7s" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" media="(max-width: 640px)">
=======
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
>>>>>>> 793f10e6e0bdb20deaea601b78aa1cd9c1f24468
  </head>

  <body>
    <%= yield %>
  </body>
</html>
