<!DOCTYPE html>
<html>
  <head>

    <title>Shows</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1" media="(max-width: 640px)">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgmrL9PyHxu5aP4MnJ2xCFtaN8NALn7s" %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
